<div class='row'>
	<form role="form">
		<label><br>
			<input type="text" name="title" placeholder="Title"><br>
		</label>
		<label>
			<input type="text" name="cost" class="cost" placeholder="Cost"><br>
		</label>
		<label>
			<input type="text" name="description" class="description" placeholder="Description"><br>
		</label>
		<label>
			<input type="text" name="available" class="available" placeholder="Number Available"><br>
		</label>
		<label>
			<input type="text" name="delivery_date" class="delivery_date" placeholder="Delivery Date"><br>
		</label>
		<label>
			<input type="text" name="img_src" class="img_src" placeholder="Img URL"><br><br>
		</label><br>
		<button type="button" class="btn btn-success create-perk">
			Create Perk!
		</button>
	</form>
</div>
